@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

:root {
  --black: #010101;
  --gray_dark: #909090;
  --gray_light: #cccccc;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: var(--black);
}

.container {
  max-width: 1320px;
  width: 94%;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

h3 {
  font-weight: 700;
  font-size: 30px;
}

/* 탑 버튼 */
.go_top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.5);
  /* background: #ccc; */
  border-radius: 50%;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  display: none;
  z-index: 1000;
}

/* ===== 네브 ===== */
.header_nav {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 300;
}

.active {
  background: rgba(0, 0, 0, 1);
}

.logo {
  width: 120px;
  margin-right: auto;
}

.nav a {
  color: #fff;
  font-size: 14px;
  display: block;
  line-height: 80px;
  margin-left: 50px;
}

/* ===== 푸터 ===== */
footer {
  background: var(--black);
  height: 200px;
}

.footer_logo {
  width: 60px;
  padding: 50px 0 30px;
  margin: 0 auto;
}

.footer_link {
  justify-content: center;
}

.footer_link img {
  width: 24px;
  height: 24px;
}

.footer_link i {
  font-size: 24px;
  color: #fff;
}

.footer_link i,
.footer_link .box {
  padding: 8px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin: 0 25px;
}
