/* ===== 헤더 ===== */
header {
  background: url(../images/header_bg_03.jpg) no-repeat top / cover;
  height: 780px;
  position: relative;
}

.header_text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.header_text h1 {
  position: absolute;
  bottom: -12px;
  color: #fff;
  font-size: 100px;
  font-weight: 800;
}

/* ===== 섹션 ===== */
section .container {
  margin: 100px auto;
}

.gallery {
  list-style: none;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  grid-auto-rows: 20rem 20rem;
}

.image {
  font-size: 0;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s ease-in-out;
}

.image .category {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.6rem;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.image:hover .category {
  opacity: 1;
}

.image:hover img {
  opacity: 0.3;
  transform: scale(1.5);
}

.w_1 {
  grid-column: span 1;
}
.w_2 {
  grid-column: span 2;
}
.w_3 {
  grid-column: span 3;
}
.w_4 {
  grid-column: span 4;
}
.w_5 {
  grid-column: span 5;
}
.w_6 {
  grid-column: span 6;
}

.h_1 {
  grid-row: span 1;
}
.h_2 {
  grid-row: span 2;
}
.h_3 {
  grid-row: span 3;
}
.h_3 {
  grid-row: span 4;
}
/*
@media (max-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }
  .w_1,
  .w_2,
  .w_3,
  .w_4,
  .w_5,
  .w_6 {
    grid-column: span 1;
  }

  .h_1,
  .h_2,
  .h_3 {
    grid-row: span 1;
  }
}

@media (max-width: 900px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
} */
