/* ===== 헤더 ===== */
header {
  background: url(../images/header_bg_01.jpg) no-repeat center/ cover;
  height: 780px;
  position: relative;
}

.header_text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.header_text h1 {
  position: absolute;
  bottom: -12px;
  color: #fff;
  font-size: 100px;
  font-weight: 800;
}

/* ===== 섹션-타이틀 ===== */
.title .container {
  padding-top: 100px;
}

.title h2 {
  color: var(--black);
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
}

.title span {
  color: var(--gray_light);
}

.title img {
  width: 16px;
}

.title .span {
  justify-content: center;
  color: var(--gray_dark);
}

/* ===== 섹션 ===== */
section {
  margin-bottom: 100px;
}

section .box {
  width: 1200px;
  /* max-width: 90%; */
  margin: 60px auto 0;
  font-size: 16px;
  line-height: 36px;
  align-items: initial;
}

section .box span {
  color: var(--gray_dark);
  font-weight: 700;
}

section .line {
  height: 900px;
  border-left: 1px solid var(--gray_light);
  margin: 450px 30px 0;
}

.text {
  margin-top: 50px;
}

.box_01,
.box_02 {
  width: 570px;
}

.textarea_02 .text:nth-child(2) {
  margin-top: 90px;
}
